@import "tailwindcss";

@theme {
  --color-orange-primary: #fb742d;
  --color-black-primary: #0f0f11;
  --color-black-secondary: #1a1a1d;
  --color-p-primary: white;
  --color-p-secondary: #6a7282;
  --shadow-primary: 0px 1px 4px rgba(0, 0, 0, 0.16);

}

body {
  background-color: #0f0f11;
}

.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-dropdown {
  animation: dropdown 150ms ease-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 150ms ease-out forwards;
}
